<ion-header [translucent]="true">
  <app-desktop-toolbar
    class="desktop"
    [username]="'Joseph'"
  ></app-desktop-toolbar>
  <app-mobile-toolbar class="mobile" [title]="title"></app-mobile-toolbar>
</ion-header>

<ion-content class="ion-padding main-content" [fullscreen]="true">
  <ion-text color="primary">
    <h1 class="desktop">{{ title }}</h1>
  </ion-text>

  <div id="container">
    <strong class="capitalize">{{ title }}</strong>
    <p>
      Explore
      <a
        target="_blank"
        rel="noopener noreferrer"
        href="https://ionicframework.com/docs/components"
        >UI Components</a
      >
    </p>
  </div>
</ion-content>
