<ion-header [translucent]="true">
  <app-desktop-toolbar
    class="desktop"
    [username]="'Joseph'"
  ></app-desktop-toolbar>
  <app-mobile-toolbar class="mobile" [title]="folder"></app-mobile-toolbar>
</ion-header>

<ion-content class="main-content" [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ folder }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong class="capitalize">{{ folder }}</strong>
    <p>
      Explore
      <a
        target="_blank"
        rel="noopener noreferrer"
        href="https://ionicframework.com/docs/components"
        >UI Components</a
      >
    </p>
  </div>
</ion-content>
