<ion-toolbar>
  <div class="logo">LOGO</div>

  <div class="account">
    <ion-item lines="none" class="ion-text-left">
      <ion-icon slot="start" name="chatbox-outline"></ion-icon>
      <ion-label>Chat Us</ion-label>
    </ion-item>

    <ion-item lines="none" class="ion-text-left">
      <ion-icon slot="end" name="chevron-down-outline"></ion-icon>
      <ion-label>English</ion-label>
    </ion-item>

    <ion-item lines="none">
      <ion-icon slot="end" name="chevron-down-outline"></ion-icon>
      <ion-label>Liam</ion-label>
    </ion-item>
  </div>

  <div class="search">
    <ion-searchbar></ion-searchbar>
  </div>
</ion-toolbar>
