<div class="cards">
  <div class="col">
    <ion-card class="size-medium">
      <ion-card-header>
        <ion-card-title>Personal Info</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <div class="info-item">
          <h3>Policy Holder/Certificate Holder</h3>
          <div>Joseph Q. User</div>
        </div>

        <div class="info-item">
          <h3>Marital Status</h3>
          <div>Married</div>
        </div>
      </ion-card-content>
    </ion-card>

    <ion-card class="size-large">
      <ion-card-header>
        <ion-card-title>Contact Info</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <div class="info-item">
          <h3>email</h3>
          <div>joe.user@fake.com</div>
        </div>

        <div class="info-item">
          <h3>Phone Number</h3>
          <div>Mobile +1 (123) 555-1234</div>
        </div>

        <div class="info-item">
          <h3>Mailing Address</h3>
          <div>420 High St.</div>
          <div>Apt 73</div>
          <div>Sun Prairie, WI 53590</div>
        </div>
      </ion-card-content>
    </ion-card>

    <ion-card class="size-small">
      <ion-card-header>
        <ion-card-title>Communication Preferences</ion-card-title>
      </ion-card-header>

      <ion-card-content> I prefer not to communicate </ion-card-content>
    </ion-card>
  </div>
  <div class="col">
    <ion-card class="size-large">
      <ion-card-header>
        <ion-card-title>Login</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <div class="info-item">
          <h3>User Id</h3>
          <div>JQUser</div>
        </div>

        <div class="info-item">
          <h3>Password</h3>
          <div><a href="#">Change Password</a></div>
        </div>

        <div class="info-item">
          <h3>Security Question</h3>
          <div><a href="#">Change Question</a></div>
        </div>
      </ion-card-content>
    </ion-card>

    <ion-card class="size-small">
      <ion-card-header>
        <ion-card-title>Payments & Deposits</ion-card-title>
      </ion-card-header>

      <ion-card-content> Give us your bank account number! </ion-card-content>
    </ion-card>

    <ion-card class="size-medium">
      <ion-card-header>
        <ion-card-title>My Agent</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <div class="info-item">
          <div>Loren P. Smith</div>
        </div>

        <div class="info-item">
          <h3>Licence Number</h3>
          <div>P399405992430</div>
        </div>

        <div class="info-item">
          <h3>Agent Since</h3>
          <div>March 2020</div>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
</div>
